<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IBank</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/docs/examples/theme/theme.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'bootstrap/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container theme-showcase" role="main" id="container">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" id="account">
        <h2>Current ID:      <span id="id" style="font-style: italic">{{ id }}</span></h2>
        <h2>Balance:      <span id="balance" style="color: #cc102d; font-style: italic">{{ balance }}</span></h2>
      </div>

      <p id="content">
        <div class="input-group">
            <input type="text" id='user_id' class="form-control ui" placeholder="User ID" aria-describedby="basic-addon2">
        </div>
        <br>
        <button type="button" class="btn btn-primary search" href="{% url 'index' %}?type=lu">Look Up</button>
      </p>

      <p>
        <div class="input-group">
            <input type="text" id='save_amount' class="form-control" placeholder="Amount" aria-describedby="basic-addon2">
        </div>
        <br>
        <button type="button" class="btn btn-primary save" href="{% url 'index' %}？type=sm">Save Money</button>
      </p>

      <p>
        <div class="input-group">
            <input type="text" id='withdraw_amount' class="form-control" placeholder="Amount" aria-describedby="basic-addon2">
        </div>
        <br>
        <button type="button" class="btn btn-primary withdraw" href="{% url 'index' %}?type=wd">Withdraw</button>
      </p>




    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/docs/assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap/docs/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/docs/assets/js/docs.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>

    <script type="text/javascript">
        function opearte(current_elem, type, id, amount){
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'index' %}",
                data:{'id':id, 'type': type, 'amount': amount},
                async: true,
                <!--需要将csrf_token传到request的header里，否则无法通过验证-->
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    var content = document.getElementById("content")
                    var div_container = document.getElementById("container")
                    var new_div = document.createElement("div")
                    if(data.status == 'fail'){
                        new_div.id = "noid"
                        new_div.className = "alert alert-danger alert-dismissible"
                        new_div.role = "alert"
                        if(data.type == "NoID"){
                            $('#balance').html(0)
                            $('#id').html("Null")
                            new_div.innerHTML = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                                "          <strong>No Such UID !</strong>"
                            div_container.insertBefore(new_div, content)
                        }

                        if(data.type == "ValueError"){
                            new_div.innerHTML = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                                "          <strong>Amount Must Be Integer !</strong>"
                            div_container.insertBefore(new_div, content)
                        }

                        if(data.type == "NoEnoughMoney"){
                            new_div.innerHTML = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                                "          <strong>No Enough Balance !</strong>"
                            div_container.insertBefore(new_div, content)
                        }

                    }else if(data.status == 'success'){
                        new_div.id = "success"
                        new_div.className = "alert alert-success alert-dismissible"
                        new_div.role = "alert"
                        if(data.type == 'save') {
                            $('#balance').html(data.balance)
                            new_div.innerHTML = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                                                    "<strong>Successfully Save  " + $('#save_amount').val() + " !</strong>"
                            div_container.insertBefore(new_div, content)
                        }
                        if(data.type == 'withdraw') {
                            $('#balance').html(data.balance)
                            new_div.innerHTML = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                                                    "<strong>Successfully Witdraw  " + $('#withdraw_amount').val() + " !</strong>"
                            div_container.insertBefore(new_div, content)
                        }
                        if(data.type == 'search'){
                            $('#balance').html(data.balance)
                            $('#id').html(data.id)
                        }
                    }
                },
            });
        }



        $('.search').on('click', function(){
            if($('#user_id').val() == "")
                alert("Please Input UID !")
            else
                opearte($(this), 'search', $('#user_id').val(), 0);
        });

        $('.save').on('click', function(){
            if($('#save_amount').val() == "")
                alert("Amount Can Not Be Empty !")
            else
                opearte($(this), 'save', $('#user_id').val(), $('#save_amount').val());
        });

        $('.withdraw').on('click', function(){
            if($('#withdraw_amount').val() == "")
                alert("Amount Can Not Be Empty !")
            else
                opearte($(this), 'withdraw', $('#user_id').val(), $('#withdraw_amount').val());
        });
    </script>
  </body>

</html>
